- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	include blocks/header.pug
	body
		.container
			section.start-page
				.breadcrumbs
					a(href="/") Главная
					p Афиша
				h1.main-title Афиша фестиваля
			section.afisha
				.afisha__filters
					button.active Все
					button Драматические спектакли
					button Инклюзивные спектакли
					button Музыкальные спектакли
					button Спектакли театра кукол
					button Моя Родина – Север
				.flex 
					.afisha__filters-dop
						label.checkbox
							input(type="checkbox")
							span Пушкинская карта
						label.checkbox
							input(type="checkbox")
							span Показать прошедшие
						<div class="select">
							<input class="select__input" type="hidden" name="">
							<div class="select__head">Возрастная категория</div>
							<ul class="select__list" style="display: none;">
								<li class="select__item">Возрастная категория 0+</li>
								<li class="select__item">Возрастная категория 6+</li>
								<li class="select__item">Возрастная категория 10+</li>
								<li class="select__item">Возрастная категория 12+</li>
								<li class="select__item">Возрастная категория 16+</li>
							</ul>
						</div>
					.afisha__format 
						button 
							<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.5"><rect width="34" height="34" rx="2" fill="white"/><rect x="3" y="3" width="28" height="8" rx="2" fill="#65B2E4"/><rect x="3" y="3" width="28" height="8" rx="2" fill="#2D7ABF"/><rect x="3" y="13" width="28" height="8" rx="2" fill="#65B2E4"/><rect x="3" y="13" width="28" height="8" rx="2" fill="#2D7ABF"/><rect x="3" y="23" width="28" height="8" rx="2" fill="#65B2E4"/><rect x="3" y="23" width="28" height="8" rx="2" fill="#2D7ABF"/></g></svg>
						//button 
							<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="34" height="34" rx="2" fill="white"/><rect x="31" y="3" width="28" height="8" rx="2" transform="rotate(90 31 3)" fill="#65B2E4"/><rect x="31" y="3" width="28" height="8" rx="2" transform="rotate(90 31 3)" fill="#2D7ABF"/><rect x="21" y="3" width="28" height="8" rx="2" transform="rotate(90 21 3)" fill="#65B2E4"/><rect x="21" y="3" width="28" height="8" rx="2" transform="rotate(90 21 3)" fill="#2D7ABF"/><rect x="11" y="3" width="28" height="8" rx="2" transform="rotate(90 11 3)" fill="#65B2E4"/><rect x="11" y="3" width="28" height="8" rx="2" transform="rotate(90 11 3)" fill="#2D7ABF"/></svg>
				.afisha__text *Афиша в стадии формирования
			section.afisha-items 
				.afisha-items__group 
					.afisha-items__date 29  сентября
					.afisha-items__item
						.afisha-items__block
							a(href="#").afisha-items__imgs
								.afisha-items__dop Открытие фестиваля
								.afisha-items__age 12+
								img(src=img+"afisha__1.png", alt="")
							.afisha-items__content 
								h4 Питер Пэн в Кенсингтонском саду
								p.text-bold Играет
								p Екатеринбургский театр юного зрителя
								p.text-bold Жанр
								p Мистерия
								p.text-bold Площадка
								p На сцене Московского Губернского театра | Большая сцена
						.afisha-items__block-right
							.afisha-items__icons
								.hint
									.hint__block
										p Участник программы «Пушкинская карта»
									img(src=img+"carts.png", alt="")
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.0304 21.8853C22.6066 20.2109 23.4741 17.943 23.4741 15.4995C23.4741 13.0559 22.6066 10.788 21.0304 9.11357L19.5326 10.7058C20.7084 11.9557 21.3567 13.6572 21.3567 15.4995C21.3556 17.3417 20.7084 19.0432 19.5326 20.2931L21.0304 21.8853Z" fill="#E50054"/><path d="M26.367 25C31.211 19.8517 31.211 11.1483 26.367 6L24.8692 7.59225C28.9018 11.8792 28.9018 19.1208 24.8692 23.4078L26.367 25Z" fill="#E50054"/><path d="M8.96959 21.8853C7.39339 20.2109 6.52585 17.943 6.52585 15.4995C6.52585 13.0559 7.39339 10.788 8.96959 9.11357L10.4674 10.7058C9.2916 11.9557 8.64333 13.6572 8.64333 15.4995C8.64439 17.3417 9.2916 19.0432 10.4674 20.2931L8.96959 21.8853Z" fill="#E50054"/><path d="M3.63303 25C-1.21101 19.8517 -1.21101 11.1483 3.63303 6L5.13083 7.59225C1.0982 11.8792 1.0982 19.1208 5.13083 23.4078L3.63303 25Z" fill="#E50054"/><path d="M12 15.5C12 13.7511 13.3431 12.3333 15 12.3333C16.6569 12.3333 18 13.7511 18 15.5C18 17.2489 16.6569 18.6667 15 18.6667C13.3431 18.6667 12 17.2489 12 15.5Z" fill="#E50054"/></svg>
							.afisha-items__group-dop
								.afisha-items__block-date 29 сентября
								.afisha-items__block-time 19:00 / 20:00 / 21:00
							a(href="#").btn купить билет
				.afisha-items__group 
					.afisha-items__date 01 октября
					.afisha-items__item
						.afisha-items__block
							a(href="#").afisha-items__imgs
								.afisha-items__age 6+
								img(src=img+"afisha__2.png", alt="")
							.afisha-items__content 
								h4 Пэппи
								p.text-bold Играет
								p Театр Мимики и Жеста
								p.text-bold Площадка
								p На сцене Театра Мимики и Жеста | Основной зал
						.afisha-items__block-right
							.afisha-items__icons
								.hint
									.hint__block
										p Участник программы «Пушкинская карта»
									img(src=img+"carts.png", alt="")
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.0304 21.8853C22.6066 20.2109 23.4741 17.943 23.4741 15.4995C23.4741 13.0559 22.6066 10.788 21.0304 9.11357L19.5326 10.7058C20.7084 11.9557 21.3567 13.6572 21.3567 15.4995C21.3556 17.3417 20.7084 19.0432 19.5326 20.2931L21.0304 21.8853Z" fill="#E50054"/><path d="M26.367 25C31.211 19.8517 31.211 11.1483 26.367 6L24.8692 7.59225C28.9018 11.8792 28.9018 19.1208 24.8692 23.4078L26.367 25Z" fill="#E50054"/><path d="M8.96959 21.8853C7.39339 20.2109 6.52585 17.943 6.52585 15.4995C6.52585 13.0559 7.39339 10.788 8.96959 9.11357L10.4674 10.7058C9.2916 11.9557 8.64333 13.6572 8.64333 15.4995C8.64439 17.3417 9.2916 19.0432 10.4674 20.2931L8.96959 21.8853Z" fill="#E50054"/><path d="M3.63303 25C-1.21101 19.8517 -1.21101 11.1483 3.63303 6L5.13083 7.59225C1.0982 11.8792 1.0982 19.1208 5.13083 23.4078L3.63303 25Z" fill="#E50054"/><path d="M12 15.5C12 13.7511 13.3431 12.3333 15 12.3333C16.6569 12.3333 18 13.7511 18 15.5C18 17.2489 16.6569 18.6667 15 18.6667C13.3431 18.6667 12 17.2489 12 15.5Z" fill="#E50054"/></svg>
							.afisha-items__group-dop
								.afisha-items__block-date 01 октября
								.afisha-items__block-time 14:00
							a(href="#").btn купить билет
					.afisha-items__item
						.afisha-items__block
							a(href="#").afisha-items__imgs
								.afisha-items__age 8+
								img(src=img+"afisha__3.png", alt="")
							.afisha-items__content 
								h4 Король Артур
								p.text-bold Играет
								p Независимый театр «Трикстер»
								p.text-bold Жанр
								p Кукольная опера
								p.text-bold Площадка
								p Москонцерт на Пушечной | Бальный зал
						.afisha-items__block-right
							.afisha-items__icons
								.hint
									.hint__block
										p Участник программы «Пушкинская карта»
									img(src=img+"carts.png", alt="")
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.0304 21.8853C22.6066 20.2109 23.4741 17.943 23.4741 15.4995C23.4741 13.0559 22.6066 10.788 21.0304 9.11357L19.5326 10.7058C20.7084 11.9557 21.3567 13.6572 21.3567 15.4995C21.3556 17.3417 20.7084 19.0432 19.5326 20.2931L21.0304 21.8853Z" fill="#E50054"/><path d="M26.367 25C31.211 19.8517 31.211 11.1483 26.367 6L24.8692 7.59225C28.9018 11.8792 28.9018 19.1208 24.8692 23.4078L26.367 25Z" fill="#E50054"/><path d="M8.96959 21.8853C7.39339 20.2109 6.52585 17.943 6.52585 15.4995C6.52585 13.0559 7.39339 10.788 8.96959 9.11357L10.4674 10.7058C9.2916 11.9557 8.64333 13.6572 8.64333 15.4995C8.64439 17.3417 9.2916 19.0432 10.4674 20.2931L8.96959 21.8853Z" fill="#E50054"/><path d="M3.63303 25C-1.21101 19.8517 -1.21101 11.1483 3.63303 6L5.13083 7.59225C1.0982 11.8792 1.0982 19.1208 5.13083 23.4078L3.63303 25Z" fill="#E50054"/><path d="M12 15.5C12 13.7511 13.3431 12.3333 15 12.3333C16.6569 12.3333 18 13.7511 18 15.5C18 17.2489 16.6569 18.6667 15 18.6667C13.3431 18.6667 12 17.2489 12 15.5Z" fill="#E50054"/></svg>
							.afisha-items__group-dop
								.afisha-items__block-date 01 октября
								.afisha-items__block-time 18:00
							a(href="#").btn купить билет
				.afisha-items__group 
					.afisha-items__date 02 октября
					.afisha-items__item
						.afisha-items__block
							a(href="#").afisha-items__imgs
								.afisha-items__age 0+
								img(src=img+"afisha__4.png", alt="")
							.afisha-items__content 
								h4 Гуси-Лебеди
								p.text-bold Играет
								p Московский Детский музыкально-драматический театр Поколение
								p.text-bold Жанр
								p Мюзикл
								p.text-bold Площадка
								p На сцене Московского Детского музыкально-драматического театра Поколение | Большой зал
						.afisha-items__block-right
							.afisha-items__icons
								.hint
									.hint__block
										p Участник программы «Пушкинская&nbsp;карта»
									img(src=img+"carts.png", alt="")
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.0304 21.8853C22.6066 20.2109 23.4741 17.943 23.4741 15.4995C23.4741 13.0559 22.6066 10.788 21.0304 9.11357L19.5326 10.7058C20.7084 11.9557 21.3567 13.6572 21.3567 15.4995C21.3556 17.3417 20.7084 19.0432 19.5326 20.2931L21.0304 21.8853Z" fill="#E50054"/><path d="M26.367 25C31.211 19.8517 31.211 11.1483 26.367 6L24.8692 7.59225C28.9018 11.8792 28.9018 19.1208 24.8692 23.4078L26.367 25Z" fill="#E50054"/><path d="M8.96959 21.8853C7.39339 20.2109 6.52585 17.943 6.52585 15.4995C6.52585 13.0559 7.39339 10.788 8.96959 9.11357L10.4674 10.7058C9.2916 11.9557 8.64333 13.6572 8.64333 15.4995C8.64439 17.3417 9.2916 19.0432 10.4674 20.2931L8.96959 21.8853Z" fill="#E50054"/><path d="M3.63303 25C-1.21101 19.8517 -1.21101 11.1483 3.63303 6L5.13083 7.59225C1.0982 11.8792 1.0982 19.1208 5.13083 23.4078L3.63303 25Z" fill="#E50054"/><path d="M12 15.5C12 13.7511 13.3431 12.3333 15 12.3333C16.6569 12.3333 18 13.7511 18 15.5C18 17.2489 16.6569 18.6667 15 18.6667C13.3431 18.6667 12 17.2489 12 15.5Z" fill="#E50054"/></svg>
							.afisha-items__group-dop
								.afisha-items__block-date 02 октября
								.afisha-items__block-time 12:00
							a(href="#").btn купить билет
				.afisha-items__group 
					.afisha-items__date Дата и время уточняются
					.afisha-items__item
						.afisha-items__block
							a(href="#").afisha-items__imgs
								.afisha-items__age 6+
								img(src=img+"afisha__5.png", alt="")
							.afisha-items__content 
								h4 Самые добрые в мире
								p.text-bold Играет
								p Красноярский театр юного зрителя
								p.text-bold Жанр
								p Игра в девяти похоронах
						.afisha-items__block-right
							a(href="#").btn купить билет
					.afisha-items__item
						.afisha-items__block
							a(href="#").afisha-items__imgs
								.afisha-items__age 7+
								img(src=img+"afisha__6.png", alt="")
							.afisha-items__content 
								h4 Пуп Земли, или Люди с Другой Стороны
								p.text-bold Играет
								p Театр «Желтое окошко»
						.afisha-items__block-right
							a(href="#").btn купить билет
					.afisha-items__item
						.afisha-items__block
							a(href="#").afisha-items__imgs
								.afisha-items__age 12+
								img(src=img+"afisha__7.png", alt="")
							.afisha-items__content 
								h4 Белая уточка
								p.text-bold Играет
								p Государственный академический центральный театр кукол имени С. В. Образцова
								p.text-bold Жанр
								p Славянский фолк-хоррор
						.afisha-items__block-right
							a(href="#").btn купить билет

	include blocks/footer.pug
	include blocks/scripts.pug