- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	include blocks/header.pug
	body
		.container
			section.start-page
				.breadcrumbs
					a(href="/") Главная
					a(href="/") о фестивале
					p Оргкомитет
				h1.main-title Оргкомитет и команда фестиваля
			section.comitet 
				.comitet__item 
					img.img-d(src=img+"comitet-1.png", alt="")
					img.img-m(src=img+"comitet-mob-1.png", alt="")
					.comitet__text
						h4 БЕЗРУКОВ Сергей Витальевич
						.comitet__position Художественный руководитель фестиваля
						p руководитель общественного совета федерального партийного проекта «Единая Россия» «Культура малой Родины», народный артист России
				.comitet__item 
					img(src=img+"comitet-2.png", alt="")
					.comitet__text
						h4 ВИЛЬЯСТЕ Лариса Лембитовна
						.comitet__position Директор фестиваля
						p Директор ГАУК МО «Центр развития театрального искусства «Московский Губернский театр» под руководством С. Безрукова
				.comitet__item 
					img(src=img+"comitet-3.png", alt="")
					.comitet__text
						h4 САВИЛОВА<br>Ирина Ивановна
						.comitet__position Директор фестиваля
						p Генеральный директор Фонда поддержки и развития социокультурных проектов Сергея Безрукова
				.comitet__item 
					img(src=img+"comitet-4.png", alt="")
					.comitet__text
						h4 ИВАХ<br>Алина Франковна
						.comitet__position Исполнительный директор фестиваля
						p Заведующий труппой ГАУК МО «Центр развития театрального искусства «Московский Губернский театр» под руководством С. Безрукова
				.comitet__item 
					img(src=img+"comitet-5.png", alt="")
					.comitet__text
						h4 КОЛОБОВ-ТЕСЛЯ<br>Игорь Леонидович
						.comitet__position Исполнительный директор фестиваля
						p Заместитель директора по организации зрителя и эксплуатации спектаклей  ГАУК МО «Центр развития театрального искусства «Московский Губернский театр» под руководством С. Безрукова
				.comitet__item 
					img(src=img+"comitet-6.png", alt="")
					.comitet__text
						h4 ЩУКИНА<br>Оксана Александровна
						.comitet__position Финансовый директор
						p Заместитель директора по финансово-экономическим вопросам ГАУК МО «Центр развития театрального искусства «Московский Губернский театр» под руководством С. Безрукова
				.comitet__item 
					img(src=img+"comitet-7.png", alt="")
					.comitet__text
						h4 ХУСАИНОВА<br>Лиана Радьевна
						.comitet__position PR-директор
						p Помощник художественного руководителя ГАУК МО «Центр развития театрального искусства «Московский Губернский театр» под руководством С. Безрукова
				.comitet__item 
					img(src=img+"comitet-8.png", alt="")
					.comitet__text
						h4 СЛАСТИН<br>Дмитрий Владимирович
						.comitet__position Технический директор
						p Заведующий художественно-постановочной частью ГАУК МО «Центр развития театрального искусства «Московский Губернский театр» под руководством С. Безрукова
			section.comitet-block 
				.comitet-block__col
					.comitet-block__item 
						p <b>Администраторы</b>
						p Екатерина Олюнина
						p Юлия Беляева
						p Екатерина Шарикова
						p Софья Лорес-Гурфинкель
					.comitet-block__item 
						p <b>Постановочная часть</b>
						p Владимир Барановский
					.comitet-block__item 
						p <b>SMM-продвижение</b>
						p Ксения Тюкавкина
					.comitet-block__item 
						p <b>Начальник отдела реализации</b>
						p Татьяна Гафарова
				.comitet-block__col
					.comitet-block__item 
						p <b>Редактор</b>
						p Ирина Ершова
					.comitet-block__item 
						p <b>Редактор сайта</b>
						p Катерина Орлова
					.comitet-block__item 
						p <b>Координатор</b>
						p Юлия Чиркова
					.comitet-block__item 
						p <b>Фотографы</b>
						p Галина Фесенко
						p Герман Жигунов
					.comitet-block__item 
						p <b>Исполнительный директор региональных проектов</b>
						p Наталия Сергеевская
					.comitet-block__item 
						p <b>Арт-директор региональных проектов</b>
						p Лилит Шеина
				.comitet-block__col
					.comitet-block__item 
						p <b>Заведующий билетными кассами</b>
						p Елена Хромченкова
					.comitet-block__item 
						p <b>Юридическое сопровождение</b>
						p Марина Малькова
						p Андрей Петров
						p Кристина Чернявская
					.comitet-block__item 
						p <b>Главный администратор</b>
						p Маргарита Мельниченко
					.comitet-block__item 
						p <b>Юридическое сопровождение</b>
						p Елена Таратынова
					.comitet-block__item 
						p <b>Менеджер программ БДФ</b>
						p Карина Лазарева
						p Ирина Кошелева
	include blocks/footer.pug
	include blocks/scripts.pug