- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	include blocks/header.pug
	body
		.container
			section.start-page
				.breadcrumbs
					a(href="/") Главная
					p Экспертный совет
				h1.main-title Экспертный совет V Большого Детского фестиваля 2022 года
			section.expertny-soviet
				.expertny-soviet__group
					h2 Драматический театр
					.expertny-soviet__block
						.expertny-soviet__item 
							h3 Надежда Стоева
							.flex 
								img(src=img+"soviet-1.png", alt="")
								p Театральный критик, зав. редакцией «Петербургского театрального журнала», автор неоконченной диссертации «Имажинисты и театр». Со-куратор программы «Детский Weekend» 2020 года. Эксперт Российской национальной театральной премии «Золотая Маска» 2019–2020 г.г. Участник экспертного совета театральной премии «Арлекин» 2019-2020 г.г., член экспертного совета молодежной премии «Прорыв».
						.expertny-soviet__item 
							h3 Нияз Игламов
							.flex 
								img(src=img+"soviet-2.png", alt="")
								.expertny-soviet__text
									p Историк театра, театральный критик, руководитель специальных программ Татарского государственного академического театра им. Г. Камала, программный директор Международного фестиваля и образовательного форума тюркских народов «Науруз», Международного театрального фестиваля «БУА: Пространство диалога», Всероссийского фестиваля молодой режиссуры «Ремесло».
									p Член Экспертного совета национальной театральной премии и фестиваля «Золотая маска» (сезон 2018-2019), член Жюри премии «Золотая маска» 2021.
						.expertny-soviet__item 
							h3 Вера Сердечная
							.flex 
								img(src=img+"soviet-3.png", alt="")
								p Театральный критик, филолог, научный редактор, автор журналов «Театр», «Вопросы театра», «Петербургский театральный журнал», «Вопросы литературы», «Новое литературное обозрение», газеты «Экран и сцена». Эксперт Фестиваля молодой драматургии «Любимовка», Фестиваля современной драматургии «Ремарка», член жюри Конкурса «Исходное событие – XXI век», кандидат филологических наук, член Экспертного совета национальной театральной премии «Золотая маска» (сезон 2019-2020).
						.expertny-soviet__item 
							h3 Владимир Кантор
							.flex 
								img(src=img+"soviet-4.png", alt="")
								p Главный редактор журнала «Петербургский театрал», завлит в театре «Суббота».
				.expertny-soviet__group
					h2 Театр кукол
					.expertny-soviet__block
						.expertny-soviet__item 
							h3 Юлия Клейман
							.flex 
								img(src=img+"soviet-5.png", alt="")
								p Театровед, театральный критик, куратор, автор журналов «Театр», «Петербургский театральный журнал», «Петербургский театрал», интернет-изданий «Летающий критик», ART1, газеты «Санкт-Петербургские ведомости», автор книги «Американская режиссура первой трети XX века», автор лекционных программ, доцент Российского государственного института сценических искусств, преподаватель Высшей школы экономики, куратор Международного летнего фестиваля искусств «Точка доступа», фестивалей «Маленький сложный человек», «РемПуть», эксперт Национальной театральной премии и фестиваля «Арлекин», кандидат искусствоведения, куратор БДФ Лаборатории «ЭХО БДФ» в Севастополе.
						.expertny-soviet__item 
							h3 Борис Павлович Голдовский
							.flex 
								img(src=img+"soviet-6.png", alt="")
								p Художественный руководитель Московского театра кукол, историк и теоретик театра, театральный критик, педагог, драматург, сценарист. Доктор искусствоведения, заслуженный работник культуры Российской Федерации.
						.expertny-soviet__item 
							h3 Ольга Лабозина
							.flex 
								img(src=img+"soviet-7.png", alt="")
								p Завлит Московского областного театра кукол, эксперт фестивалей «Театр кукол без границ» и «Ямал — привет!», заведующая учебной частью ВШДСИ «Школа Г. Г. Дадамяна».
						.expertny-soviet__item 
							h3 Марина Шимадина
							.flex 
								img(src=img+"soviet-8.png", alt="")
								p Журналист, театральный критик, руководитель литературной части в Московском детском театре теней. Автор изданий «Театрал-online», «КоммерсантЪ», «Известия», «Ваш Досуг», «Театр», «Эксперт», «Петербургский театральный журнал», OpenSpace, Colta и др. Создатель портала «Театр – детям». Член экспертного совета премии «Золотая Маска» и фестиваля «Арлекин».
				.expertny-soviet__group
					h2 Музыкальный театр
					.expertny-soviet__block
						.expertny-soviet__item 
							h3 Лариса Барыкина
							.flex 
								img(src=img+"soviet-9.png", alt="")
								p Музыковед, музыкальный и театральный критик, критик балета, арт-директор Международного фестиваля современного танца «На грани», автор статей энциклопедии «Русский балет», журнала «Музыкальная жизнь», газеты «Экран и сцена», «Российской газеты».
						.expertny-soviet__item 
							h3 Екатерина Антонова
							.flex 
								img(src=img+"soviet-10.png", alt="")
								p Театровед, критик, шеф-редактор портала театра для детей и подростков «Недоросль», сотрудник литературной части и пресс-службы Московского государственного академического детского музыкального театра им. Н. И. Сац, автор портала «Afisha.ru» и газеты «Экран и сцена», автор книг для детей.
						.expertny-soviet__item 
							h3 Екатерина Кретова
							.flex 
								img(src=img+"soviet-11.png", alt="")
								p Музыкальный и театральный критик. Обозреватель газеты «Московский комсомолец». Заместитель художественного руководителя театра по творческим вопросам театра «Школа современной пьесы».
						.expertny-soviet__item 
							h3 Алла Чепинога
							.flex 
								img(src=img+"soviet-12.png", alt="")
								.expertny-soviet__text
									p Окончила факультет музыкального театра Российского института театрального искусства (ГИТИС). Кандидат искусствоведения.
									p С 2008 года – режиссер-постановщик Московского театра «Новая опера» им. Е. В. Колобова, с 2011 по 2019 год – директор Учебной сцены ГИТИСа. Осуществила множество оперных, балетных и драматических постановок в театрах России. Режиссёр детских концертных программ в Концертном зале Мариинского театра.
				.expertny-soviet__group
					h2 Инклюзивный театр
					.expertny-soviet__block
						.expertny-soviet__item 
							h3 Татьяна Медюх
							.flex 
								img(src=img+"soviet-13.png", alt="")
								.expertny-soviet__text
									p Директор по развитию Центр реализации творческих проектов «ИНКЛЮЗИОН».
									p Фонд поддержки слепоглухих «Со-единение».
						.expertny-soviet__item 
							h3 Ирина Безрукова
							.flex 
								img(src=img+"soviet-14.png", alt="")
								p Актриса театра и кино, тифлокомментатор.
				.expertny-soviet__group
					h2 БДФ Книга
					.expertny-soviet__block
						.expertny-soviet__item 
							h3 Валерия Мартьянова
							.flex 
								img(src=img+"soviet-15.png", alt="")
								p Создательница книжного блога «Мартышка», редактор книг в издательствах «Абрикобукс» и «Livebook», читала курс лекций в «Сириусе» и «Артеке», автор проекта про подростковое чтение «Мартышкин Рот».
						.expertny-soviet__item 
							h3 Марина Молявина
							.flex 
								img(src=img+"soviet-16.png", alt="")
								p Заведующая отделом обслуживания читателей, куратор проекта «Продленка с Гайдаровкой», YouTube-канала библиотеки, ведущая детской ридинг-группы (чтения и обсуждения книг с детьми 4-7 лет) в «Центральной городской детской библиотеке им. А. П. Гайдара».
						.expertny-soviet__item 
							h3 Ася Кравченко
							.flex 
								img(src=img+"soviet-17.png", alt="")
								p Лауреат Большого Детского фестиваля 2021 года в номинации «Лучшая книга для детей от 6 до 11 лет», кандидат психологических наук, детский писатель, лауреат премии Чуковского и премии Крапивина, Международной премии Анны Франк, редактор детских проектов Политехнического музея.
						.expertny-soviet__item 
							h3 Кристина Кретова
							.flex 
								img(src=img+"soviet-18.png", alt="")
								p Лауреат Большого Детского фестиваля 2021 года в номинации «Лучшая книга для детей от 12 до 16 лет», детский писатель, предприниматель, колумнист сетевого издания Собака.ру, радиоведущая, общественный деятель, благотворитель.

				

	include blocks/footer.pug
	include blocks/scripts.pug