- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	include blocks/header.pug
	body
		.container
			section.start-page
				.breadcrumbs
					a(href="/") Главная
					p БДФ Книга
				h1.main-title БДФ Книга
		section.kniga-bdf(class="m-top__p-bot")
			.container-small
				p Впервые в 2021 году БДФ проводил книжную программу фестиваля. Многие спектакли из программ прошлых сезонов фестиваля были поставлены по прекрасным книгам.
				p V БДФ продолжает знакомить своих зрителей с самыми яркими знаковыми современными текстами для детей и подростков и их авторами — писателями. Детское жюри выберет самый интересный для них текст, а родители, сами дети и подростки, режиссеры и завлиты театров получат прекрасный список для чтения на этот сезон. Ведь каждый зритель может стать читателем!
				p В книжную программу фестиваля войдут тексты самых интересных российских и зарубежных авторов, вышедшие за последние 2 года. В читательской программе фестиваля — встречи с авторами, актерские читки книг, мастер-классы по литературной критике и писательскому мастерству, дискуссии и круглые столы о детском и юношеском чтении и литературе.
				p.m-top-30
					b По итогам фестиваля детско-юношеское жюри фестиваля определяет победителей в следующих номинациях:
				ul.list 
					li 
						span Лучшая книга для детей в младшей возрастной категории
					li 
						span Лучшая книга для детей в старшей возрастной категории
				p.m-top-30 В книжную программу фестиваля вошли тексты самых интересных российских и зарубежных авторов, вышедшие за последние 2 года.
				p В читательской программе фестиваля — встречи с авторами, актерские читки книг, мастер-классы по литературной критике и писательскому мастерству, дискуссии и круглые столы о детском и юношеском чтении и литературе.
				.kniga-bdf__tabs
					button.btn(class="active-tab") 6-11 лет
					button.btn 12-16 лет
				.kniga-bdf__group-mobile
					.kniga-bdf__item-mobile
						.flex
							.kniga-bdf__block-mobile
								h4 Мой папа пират
								.kniga-bdf__dop-mobile 
									img(src=img+"kniga-people-1.png", alt="")
									h5 Павел Линицкий
								.kniga-bdf__content-mobile
									p Год выхода: 
										b 2022
									p Издательство: <b>БХВ-Петербург</b>
							img(src=img+"kniga-book-1.png", alt="")
						p Пиратский бриг «Кашалот» выходит в море. На борту неустрашимая команда во главе с капитаном Синяя Борода и его сыном Димкой. Конечно суровая пиратская жизнь не для маленьких мальчиков, но что делать, если детский сад на карантине, а мама в командировке? Конечно, к папе на работу! Сокровища, остров Танцующего Черепа, десять тысяч каракатиц и небольшой сюрприз ждут юного пирата в новой книге известного петербургского писателя Павла Линицкого, автора популярных книг по рисованию чего угодно за несколько секунд.
					.kniga-bdf__item-mobile
						.flex
							.kniga-bdf__block-mobile
								h4 Папа ищет работу
								.kniga-bdf__dop-mobile 
									img(src=img+"kniga-people-2.png", alt="")
									h5 Валя Филипенко
								.kniga-bdf__content-mobile
									p Год выхода: 
										b 2022
									p Издательство: <b>БХВ-Петербург</b>
							img(src=img+"kniga-book-2.png", alt="")
						.block-dop
							p Мой папа работал водителем, а потом фирму закрыли. Тогда-то с ним и начали происходить приключения: день за днём он читал газеты с объявлениями, сочинял мороженое, стриг облака, командовал воздушными шарами, даже королём успел поработать — чуть было в Африку не улетел… Но в глубине души и папа, и мама, и я понимали: это всё не для него, призвание папы — другое.
							p «Мама была категорически против идеи папы работать художником. Рисовать людей у него совсем не получалось. Один из маминых портретов даже пришлось выкинуть, так она расстроилась, увидев рисунок. Я голосовала за работу переводчиком с собачьего. Если бы папу взяли на эту должность, у нас дома наконец могла бы появиться собака! Я бы гуляла с ней по утрам, а папа бы — по вечерам. Ещё мы вместе ездили бы в парк, наряжали собаку на Новый год оленем и научили бы её катать санки… Но никто не слушал меня! А папа уже набирал номер, указанный в объявлении о поиске внутренней жабы»
					.kniga-bdf__item-mobile
						.flex
							.kniga-bdf__block-mobile
								h4 Настоящие бумажные вещи Т. Гримса
								.kniga-bdf__dop-mobile 
									img(src=img+"kniga-people-3.png", alt="")
									h5 Юлия Мнижек
								.kniga-bdf__content-mobile
									p Год выхода: 
										b 2022
									p Издательство: <b>БХВ-Петербург</b>
							img(src=img+"kniga-book-3.png", alt="")
						.block-dop
							p Мой папа работал водителем, а потом фирму закрыли. Тогда-то с ним и начали происходить приключения: день за днём он читал газеты с объявлениями, сочинял мороженое, стриг облака, командовал воздушными шарами, даже королём успел поработать — чуть было в Африку не улетел… Но в глубине души и папа, и мама, и я понимали: это всё не для него, призвание папы — другое.
				
				
				
				
				.kniga-bdf__group
					.kniga-bdf__item
						.flex 
							img(src=img+"kniga-book-1.png", alt="")
							.kniga-bdf__content 
								h4 Мой папа пират
								.kniga-bdf__block 
									img(src=img+"kniga-people-1.png", alt="")
									h5 Павел Линицкий
								p Ходят слухи, что на Обратной Стороне Всего закончился Главный магистр. Такое случается со всеми. Рано или поздно ты можешь закончиться, каким бы Главным магистром ты ни был. А ещё поговаривают: в то же время в неизвестном направлении весьма экстравагантно пропал отец Тристана Гримса, известный изобретатель и очень уважаемый человек. Добро пожаловать в Город восьми тротуаров, двадцати шести фонарных столбов, пяти скамеек, восьми садов, одной библиотеки, сорока семи деревьев, одного рынка, одного театра, семнадцати крыш, восьми домов и пяти разноцветных котов.
								.kniga-bdf__dop 
									p Год выхода: 
										b 2022
									p Издательство:
										b БХВ-Петербург
					.kniga-bdf__item
						.flex 
							img(src=img+"kniga-book-2.png", alt="")
							.kniga-bdf__content 
								h4 Папа ищет работу
								.kniga-bdf__block 
									img(src=img+"kniga-people-2.png", alt="")
									h5 Валя Филипенко
								p Мой папа работал водителем, а потом фирму закрыли. Тогда-то с ним и начали происходить приключения: день за днём он читал газеты с объявлениями, сочинял мороженое, стриг облака, командовал воздушными шарами, даже королём успел поработать — чуть было в Африку не улетел… Но в глубине души и папа, и мама, и я понимали: это всё не для него, призвание папы — другое.
								p «Мама была категорически против идеи папы работать художником. Рисовать людей у него совсем не получалось. Один из маминых портретов даже пришлось выкинуть, так она расстроилась, увидев рисунок. Я голосовала за работу переводчиком с собачьего. Если бы папу взяли на эту должность, у нас дома наконец могла бы появиться собака! Я бы гуляла с ней по утрам, а папа бы — по вечерам. Ещё мы вместе ездили бы в парк, наряжали собаку на Новый год оленем и научили бы её катать санки… Но никто не слушал меня! А папа уже набирал номер, указанный в объявлении о поиске внутренней жабы»
								.kniga-bdf__dop 
									p Иллюстрации: 
										b Леры Елуниной
									p Год выхода: 
										b 2022
									p Издательство:
										b Самокат
					.kniga-bdf__item
						.flex 
							img(src=img+"kniga-book-3.png", alt="")
							.kniga-bdf__content 
								h4 Настоящие бумажные вещи Т. Гримса
								.kniga-bdf__block 
									img(src=img+"kniga-people-3.png", alt="")
									h5 Юлия Мнижек
								p Ходят слухи, что на Обратной Стороне Всего закончился Главный магистр. Такое случается со всеми. Рано или поздно ты можешь закончиться, каким бы Главным магистром ты ни был. А ещё поговаривают: в то же время в неизвестном направлении весьма экстравагантно пропал отец Тристана Гримса, известный изобретатель и очень уважаемый человек. Добро пожаловать в Город восьми тротуаров, двадцати шести фонарных столбов, пяти скамеек, восьми садов, одной библиотеки, сорока семи деревьев, одного рынка, одного театра, семнадцати крыш, восьми домов и пяти разноцветных котов.
								.kniga-bdf__dop 
									p Иллюстрации: 
										b Светланы Муллари
									p Год выхода: 
										b 2022
									p Издательство:
										b Самокат
			.container
				a(href="#").kniga-bdf__img 
					img(src=img+"archive-1.png", alt="")
					h4 БДФ Книга в Твери
				
				.archive-block
					h3 Архив
					.archive-block__group
						a(href="#").archive-block__item 
							img(src=img+"archive-2.png", alt="")
							h4 Участники БДФ Книга 2021
						a(href="#").archive-block__item
							img(src=img+"archive-3.png", alt="")
							h4 Афиша мероприятий 2021
						a(href="#").archive-block__item
							img(src=img+"archive-4.png", alt="")
							h4(style="color: black;") БДФ Книга в Архангельске
	include blocks/footer.pug
	include blocks/scripts.pug