- var img = 'img/';

doctype
html
	include blocks/head.pug
		title
	include blocks/header.pug
	body
		.container
			section.start-page
				.breadcrumbs
					a(href="/") Главная
					p БДФ Лаборатория Тверь
				h1.main-title БДФ Лаборатория Тверь
		section.laboratory-bdf-template(class="m-top__p-bot")
			.container-small
				h2 В рамках «ЭХО БДФ» в Твери была проведена режиссерская лаборатория.
				p Темой новой лаборатории стала «Сказки на новый лад»: по произведениям классических или современных авторов, рассказанные языком актуального театра кукол.
				p Три режиссера, отобранные экспертами БДФ, создали эскизы новых постановок для детей.
				p Лучшая работа будет поставлена в Тверском театре кукол и войдет в репертуар театра.
				p Показы эскизов состоялись 7 сентября. Зрители смогли увидеть их на площадке Творческого объединения «Премьер» (Желябова, 22) и принять участие в обсуждении с участием театральных экспертов.
				p Мария Орлова, куратор направления БДФ Книга, подготовила рекомендательную<a href="#">подборку</a> литературы на тему лаборатории.
			.laboratory-bdf-template__group 
				h2 Участники БДФ Лаборатория 2022 в Твери
				.container-small
					.laboratory-bdf-template__item
						.laboratory-bdf-template__imgs
							.laboratory-bdf-template__img
								img(src=img+"laboratory-template-1.png", alt="") 
								p Анна Куликова
							.laboratory-bdf-template__img
								img(src=img+"laboratory-template-2.png", alt="") 
								p Алексей Трефилов
						.laboratory-bdf-template__main 
							h4 «Девочка из племени перепелки» 6+
							a.btn(href="#" class="default-btn") прямая трансляция
							p 
								b Добрая сказка с притягательным этническим элементом, которая рассказывает о любви. О любви к своему роду и своим корням, о любви к родителям и семье, и о большой любви к жизни, во всех ее проявлениях
							p.m-top-20 Биография:
							p <b>Анна Куликова</b> — режиссер. Окончила высшую школу сценических искусств Константина Райкина по специальности театральная режиссура в 2018 году. Получила диплом о повышении квалификации по специальности — современная театральная методология, пройдя обучение в рамках образовательной программы фестиваля «Точка Доступа» в 2019 году. В том же году приняла участие в образовательной программе «Институт Театра» российского национального фестиваля «Золотая Маска». Сотрудничала с такими театра как Центральный Академический театр Российской Армии, Театр.Doc, Московский Театр им. Булгакова и т. д.
							p <b>Алексей Трефилов</b> — художник. Окончил факультет сценографии Российской академии театрального искусства (ГИТИС), мастерская С. Бархина и С. Морозова в 2006 году. Во время учебы в академии оформлял спектакли в студенческом театре ГИТИСа, в оперной студии Московской консерватории и студенческом театре Московского университета (МГУ). После окончания обучения проходил стажировку в Государственном академическом Большом Театре России. С 2007 года работает в Государственном академическом Малом театре. Оформил более двадцати спектаклей в России и за рубежом. Неоднократный участник выставок «Итоги сезона». С 2010 года занимается преподавательской деятельностью, читает лекции по истории искусства.
					.laboratory-bdf-template__item
						.laboratory-bdf-template__imgs
							.laboratory-bdf-template__img
								img(src=img+"laboratory-template-3.png", alt="") 
								p Дмитрий Богданов
							.laboratory-bdf-template__img
								img(src=img+"laboratory-template-4.png", alt="") 
								p Анастасия Гончарова-Дерягина
						.laboratory-bdf-template__main 
							h4 «Лина-Марлина. Сказка о необычной девочке, музыке и свободе быть собой» 6+
							a.btn(href="#" class="default-btn") прямая трансляция
							p 
								b В этом мире важно не быть изгоем. Особенно ребёнку, чья личность ещё только формируется.
							p.m-top-20 Биография:
							p <b>Дмитрий Богданов</b> — режиссёр. Окончил Нижегородское театральное училище и Санкт-Петербургскую государственную академию театрального искусства. Ставил спектакли в Большом театре кукол (Санкт-Петербург), Пермском театре кукол, Театре кукол «Золотой ключик» (Железногорск), Северо-Казахстанском театре кукол, Ханты-Мансийском театре кукол, независимых театральных проектах. Участник различных театральных фестивалей. А также многочисленных режиссёрских лабораторий, стажировок и мастер-классов. Работал актёром в Псковском Областном театре кукол, Московском театре детской книги «Волшебная лампа», ГАЦТК им.С.В.Образцова. В соавторстве с художником Анастасией Гончаровой выпустили 6 спектаклей в разных регионах России, а также в Казахстане. Принимали участие в двух лабораториях театра кукол в Беларуси и РФ.
							p <b>Анастасия Гончарова-Дерягина</b> — художник. Окончила Санкт-Петербургскую государственную академию театрального искусства. В качестве художника осуществила более 30 постановок в разных театрах. В том числе в Пермском театре кукол, в Кукольном театре сказки и Большом театре кукол (Санкт-Петербург), Театре кукол «Золотой ключик» (Железногорск), Новокузнецком театре кукол «Сказ», а также в Кемеровском, Архангельском, Кировском, Нижнетагильском, Северо-Казахстанском театрах кукол, в Кемеровском областном театре драмы. Участник различных театральных фестивалей и лабораторий.
					.laboratory-bdf-template__item
						.laboratory-bdf-template__imgs
							.laboratory-bdf-template__img
								img(src=img+"laboratory-template-5.png", alt="") 
								p Дмитрий Ши
							.laboratory-bdf-template__img
								img(src=img+"laboratory-template-6.png", alt="") 
								p Никита Запаскин
						.laboratory-bdf-template__main 
							h4 «Последняя овца» 6+
							a.btn(href="#" class="default-btn") прямая трансляция
							p 
								b Все мы знакомы с традиция вертепа — его персонажами, канонами, историей. Существуют и много пьес, рассказывающая о рождении младенца Иисуса — так например российское кукольное сообщество хорошо знает идущую во многих театрах пьесу Михаила Бартенева и Андрея Усачёв «Бык, осел и звезда», которая создана по мотивам рассказа Жюля Супервьюля. Книга Ульриха Хуба «Последняя овца» вдыхает новое дыхание этой вечной теме. Известная история рассказывается нам со стороны овец, которых пасли пастухи, а с момента рождения младенца ушли ему поклониться. Книга (как и спектакль) не переносит нас в прошлые столетия, она как любая хорошая литература лишь задаёт «схожие отсылки к знаковым событиям» и рассказывается с юмором и попутно затрагивает и современные проблемы: загрязнение планеты пластиком, гендерного равноправия. Но самое главные темы в нашей работе — это конечно поиски: от веры в чудеса до любви к ближнему.
							p.m-top-20 Биография:
							p <b>Дмитрий Ши</b> - режиссер. Член Союза театральных деятелей РФ. Главный режиссер театра кукол «Гулливер» (Курган). Номинант на Национальную театральную премию «Золотая маска» 2019. Закончил Владимирский областной колледж культуры и искусства (2009-2013) (Актёр театра кукол) и Белорусскую государственную академию искусств (2016-2022) (Режиссер театра кукол). Как режиссер ставил спектакли в театрах Мурманска, Ханты-Мансийска, Костромы, Брянска, Новоуральска, Кургана, Кирова и др. Участник лабораторий: «Визуализация текста. Шекспир «Буря» под руководством Яны Марковны Туминой, Театр «Karlsson Haus», июнь 2018; «Взрослая драматургия в театре кукол», Барнаул, январь 2019; БТК-Лаб под руководством Р.Р. Кудашова, август 2019; -«рупор63» , Самара , февраль 2022.
							p <b>Никита Запаскин</b> - художник эскиза. Закончил Белорусский государственный университет культуры и искусств (Минск). С 2015 года - художник-конструктор в Могилёвском областном театре кукол. С 2016 по 2020 года - главный художник в Могилёвском областном театре кукол. Ставил спектакли в театрах Могилева, Костромы, Кургана, Лесосибирска, Санкт-Петербурга и др.


			.laboratory-bdf-template__group(class="group-30")
				h2 Эксперты БДФ Лаборатория 2022 в Твери
				.container-small
					.kniga-bdf-template__item
						h3 Марина Шимадина
						.flex 
							img(src=img+"tver-people-7.png", alt="")
							p Журналист, театральный критик. Эксперт Большого Детского фестиваля. Автор изданий «Театрал-online», «КоммерсантЪ», «Известия», «Ваш Досуг», «Театр», «Эксперт», «Петербургский театральный журнал», OpenSpace, Colta и др. Создатель портала «Театр – детям». Член экспертного совета премии «Золотая Маска» и фестиваля «Арлекин».
					.kniga-bdf-template__item
						h3 Олеся Кренская
						.flex
							img(src=img+"tver-people-8.png", alt="")
							.kniga-bdf-template__text
								p Театральный критик, куратор проектов, pr-директор Летней лаборатории фигуративного театра, член экспертного совета «Золотая маска» (сезон 2021-2022), Большого Детского фестиваля (2020), член жюри российских и международных фестивалей театров кукол, один из авторов современной российской энциклопедии о театре.
								p Окончила магистратуру СПбГАТИ (История и критика театра кукол).
					.kniga-bdf-template__item
						h3 Анна Казарина
						.flex 
							img(src=img+"laboratory-template-9.png", alt="")
							p Театральный критик, пишет о театре кукол и театре для детей. Эксперт Большого Детского фестиваля. Куратор программы «Детский Weekend» и эксперт Фестиваля «Золотая маска», лидер конкурса драматургии «Маленькая Ремарка», педагог «Школы театрального блогера», автор подкаста «Куклонаваждение», пресс-секретарь Московского театра кукол.

			.container-small(class="laboratory-bdf-template__content")
				p 
					b Сроки
				ul.m-top-20(class="list-default")
					li 27 июня - 22 июля: прием заявок
					li 30 июля: объявление итогов отбора
					li 1 - 8 сентября: проведение лаборатории
					li 7 сентября: итоговые показы
				p
					b Условия участия
				ul.list
					li 
						span Мы приглашаем к участию команды из двух человек (режиссер + художник; если режиссер является и художником, это, например, может быть команда режиссер + композитор, режиссер + хореограф).
					li 
						span К участию в лаборатории допускаются только команды из двух человек, команды из большего количества участников автоматически не будут рассматриваться.
					li 
						span По результатам отбора экспликаций три команды будут приглашены в Тверской театр кукол на период с 1 по 8 сентября 2022 года.
					li 
						span Репетиции эскизов будут проходить в имеющихся помещениях Тверского театра кукол (в т. ч. сцена, фойе и иные помещения).
					li 
						span График репетиций эскизов выстраивается совместно с принимающим театром, с учетом проката действующего репертуара театра.
					li 
						span Показы эскизов пройдут 7 и 8 сентября 2022 года.
					li 
						span В эскизах должны быть задействованы только актеры Тверского театра кукол.
					li 
						span Точное количество актеров будет определено после отбора участников по согласованию с Тверским театром кукол.
					li 
						span Будущий спектакль должен быть адресован детской аудитории от 6 до 8 лет.
					li 
						span Итоговые показы эскизов будут проходить на большой сцене Тверского театра кукол и должны быть адаптированы согласно параметрам сцены и зрительного зала без изменения конфигурации.
					li 
						span Материальные результаты, созданные во время лаборатории и за счет фестиваля (элементы декораций, кукол, реквизит, костюмы и т.д.) переходят в собственность фестиваля и по согласованию с фестивалем могут быть переданы либо театру, либо участникам лаборатории. Авторские права остаются у авторов.
					li 
						span Оргкомитет фестиваля обеспечивает командам<br><br>а) проезд до места лаборатории и обратно двух участников<br><br>б) проживание в городе проведения лаборатории двух участников<br><br>в) постановочный бюджет на создание эскиза - 40 000 рублей (на одну команду)
					li 
						span Подавая заявку на лабораторию, вы соглашаетесь с правилами и условиями проведения БДФ Лаборатории.
				.laboratory-bdf-template__block 
					p
						b По всем вопросам
					p.m-top-20 Ирина
					p 
						b Telegram: 
						a(href="tel:+79535488539") +7 (953) 548 85 39
					p 
						b E-mail: 
						a(href="mailto:pitch.bdf@gmail.com") pitch.bdf@gmail.com



	include blocks/footer.pug
	include blocks/scripts.pug